<section class="">
	<ul class="">
		<li class="">
			<p>Aberto</p>
			<h3>Vicente Linhares</h3>
			<address>
				<p>Rua Tibúrcio Cavalcante, 1885 - Meireles</p>
				<p>Fortaleza, CE</p>
			</address>
			<figure>
				<img src="" alt="" />
			</figure>
			<div class="schedules">
				<div>
					<p>Seg. à Sex.</p>
					<p>06h às 22h</p>
				</div>
				<div>
					<p>Sáb.</p>
					<p>09h às 18h</p>
				</div>
				<div>
					<p>Dom.</p>
					<p>Fechada</p>
				</div>
			</div>
		</li>
	</ul>
</section>
