$breakpoint-mobile: 375px;
$breakpoint-desktop: 1440px;

$color-primary-green: hsl(75, 94%, 57%);
$color-neutral-green: hsl(75, 94%, 57%);

$color-neutral-white: hsl(0, 0%, 100%);
$color-neutral-grey: hsl(0, 0%, 20%);
$color-neutral-dark-grey: hsl(0, 0%, 12%);
$color-neutral-off-black: hsl(0, 0%, 8%);
