/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-optical-sizing: auto;
  font-variation-settings: "slnt" 0;
  font-weight: 400;
}
