<section class="legends">
	<div class="legends__wrapper">
		<ul class="legends__list">
			<li class="legends__item">
				<p class="legends__item-label">Máscaras</p>
				<figure class="legends__item-images">
					<div class="legends__item-legend">
						<img
							src="/assets/images/required-mask.png"
							alt="Uso de máscara é obrigatório"
							title="Uso de máscara é obrigatório"
						/>
						<span>Obrigatório</span>
					</div>
					<div class="legends__item-legend">
						<img
							src="/assets/images/recommended-mask.png"
							alt="Uso de máscara é recomendado"
							title="Uso de máscara é recomendado"
						/>
						<span>Recomendado</span>
					</div>
				</figure>
			</li>
			<li class="legends__item">
				<p class="legends__item-label">Toalha</p>
				<figure class="legends__item-images">
					<div class="legends__item-legend">
						<img
							src="/assets/images/required-towel.png"
							alt="Uso de toalha é obrigatório"
							title="Uso de toalha é obrigatório"
						/>
						<span>Obrigatório</span>
					</div>
					<div class="legends__item-legend">
						<img
							src="/assets/images/recommended-towel.png"
							alt="Uso de toalha é recomendado"
							title="Uso de toalha é recomendado"
						/>
						<span>Recomendado</span>
					</div>
				</figure>
			</li>
			<li class="legends__item">
				<p class="legends__item-label">Bebedouro</p>
				<figure class="legends__item-images">
					<div class="legends__item-legend">
						<img
							src="/assets/images/partial-fountain.png"
							alt="Uso de bebedouro é parcial"
							title="Uso de bebedouro é parcial"
						/>
						<span>Parcial</span>
					</div>
					<div class="legends__item-legend">
						<img
							src="/assets/images/forbidden-fountain.png"
							alt="Uso de bebedouro é proibido"
							title="Uso de bebedouro é proibido"
						/>
						<span>Proibido</span>
					</div>
				</figure>
			</li>
			<li class="legends__item">
				<p class="legends__item-label">Vestiários</p>
				<figure class="legends__item-images">
					<div class="legends__item-legend">
						<img
							src="/assets/images/required-lockerroom.png"
							alt="Uso de vestiário é liberado"
							title="Uso de vestiário é liberado"
						/>
						<span>Liberado</span>
					</div>
					<div class="legends__item-legend">
						<img
							src="/assets/images/partial-lockerroom.png"
							alt="Uso de vestiário é parcial"
							title="Uso de vestiário é parcial"
						/>
						<span>Parcial</span>
					</div>
					<div class="legends__item-legend">
						<img
							src="/assets/images/forbidden-lockerroom.png"
							alt="Uso de vestiário é proibido"
							title="Uso de vestiário é proibido"
						/>
						<span>Fechado</span>
					</div>
				</figure>
			</li>
		</ul>
	</div>
</section>
