/**
* Breakpoints (Mobile First!)
*/
$breakpoint-mobile: 450px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
$breakpoint-x-large: 1200px;
$breakpoint-xx-large: 1440px;
$breakpoint-lx-large: 2000px;
