<section class="bg-black-31 w-full px-7 py-6 rounded-lg">
  <figure class="w-full text-center mb-10">
    <img
      class="rounded-full w-32 h-32 inline-block"
      src="assets/avatar-jessica.jpeg"
      alt="Jessica Randall"
      title="Jessica Randall"
    />
  </figure>
  <div class="text-center">
    <h1 class="text-white no-underline text-3xl font-bold">Jessica Randall</h1>
    <p class="text-lime-500 font-bold mt-2">London, United Kingdom</p>
    <p class="text-white text-lg mt-5">"Front-end developer and avid reader"</p>
  </div>
  <div class="mt-5">
    <button
      class="w-full h-12 text-white font-bold text-md rounded-lg bg-black-51 transition-colors hover:bg-lime-500 hover:text-gray-900"
    >
      Github
    </button>
    <button
      class="w-full mt-3 h-12 text-white font-bold text-md rounded-lg bg-black-51 transition-colors hover:bg-lime-500 hover:text-gray-900"
    >
      Frontend Mentor
    </button>
    <button
      class="w-full mt-3 h-12 text-white font-bold text-md rounded-lg bg-black-51 transition-colors hover:bg-lime-500 hover:text-gray-900"
    >
      LinkedIn
    </button>
    <button
      class="w-full mt-3 h-12 text-white font-bold text-md rounded-lg bg-black-51 transition-colors hover:bg-lime-500 hover:text-gray-900"
    >
      Twitter
    </button>
    <button
      class="w-full mt-3 h-12 text-white font-bold text-md rounded-lg bg-black-51 transition-colors hover:bg-lime-500 hover:text-gray-900"
    >
      Instagram
    </button>
  </div>
</section>
