<section class="form-container">
	<div class="form-wrapper">
		<form class="form" [formGroup]="gymFilter" (ngSubmit)="onSubmit()">
			<h3 class="form__section-hour">
				<img
					class="form__icon-hour"
					src="/assets/images/icon-hour.png"
					alt="Ícone de relógio"
					title="Ícone de relógio"
				/>
				Horário
			</h3>
			<h2 class="form__title">Qual período quer treinar?</h2>

			<ul class="form__field-periods">
				<li class="form__field-period">
					<div class="form__field-radio">
						<input
							type="radio"
							name="period"
							value="morning"
							id="morning"
							formControlName="period"
						/>
						<label for="morning">Manhã</label>
					</div>
					<p class="form__field-hour">06:00 às 12:00</p>
				</li>
				<li class="form__field-period">
					<div class="form__field-radio">
						<input
							type="radio"
							name="period"
							value="afternoon"
							id="afternoon"
							formControlName="period"
						/>
						<label for="afternoon">Tarde</label>
					</div>
					<p class="form__field-hour">12:01 às 18:00</p>
				</li>
				<li class="form__field-period">
					<div class="form__field-radio">
						<input
							type="radio"
							name="period"
							value="night"
							id="night"
							formControlName="period"
						/>
						<label for="night">Noite</label>
					</div>
					<p class="form__field-hour">18:01 às 23:00</p>
				</li>
			</ul>

			<div class="form__field-column">
				<div class="form__field--closed-units">
					<input
						type="checkbox"
						name="isViewClosedUnits"
						id="isViewClosedUnits"
						formControlName="isViewClosedUnits"
					/>
					<label for="isViewClosedUnits">Exibir unidades fechadas</label>
				</div>

				<div class="form__field">
					<p class="form__field--unit-found">
						Resultados encontrados: <strong>{{ unitsFound }}</strong>
					</p>
				</div>
			</div>

			<div class="form__actions">
				<button
					class="form__action-search"
					type="submit"
					[disabled]="!gymFilter.valid"
				>
					ENCONTRAR UNIDADE
				</button>
				<button class="form__action-clear" (click)="onClear()">LIMPAR</button>
			</div>
		</form>
	</div>
</section>
